
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Golos;
    src: url(../fonts/Golos-Text_Regular.ttf);
    font-style: normal;
}
.container {
    width: 1366px;
    margin: 0 auto
}

body {
    background-color: #141414;
}

/*Первый блок*/
.section-header .container .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.section-header .container .header-menu .one{
    display: flex;
    margin-right: 350px;
}
.section-header .container .header-menu .one .item a {
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin-right: 40px;
}
.section-header .container .header-menu .two .item a {
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin-right: 20px;
}
.section-header .container .header-menu .two{
    display: flex;
}
.section-header .container .header-menu .two .two_1{
    display: flex;
}
.section-header .container .header-menu .two_2{
    display: flex;
}
.section-header .container .header-menu .two_3{
    display: flex;
}
.section-header .container .header-menu .two .two_1 .item{
    margin-top: 5px;
}
.section-header .container .header-menu .two .two_2 .item{
    margin-top: 5px;
}
.section-header .container .header-menu .two .two_3 .item{
    margin-top: 5px;
}
.section-header .container .header-menu .two .two_1 img{
    margin-right: 5px;
}
.section-header .container .header-menu .two .two_2 img{
    margin-right: 5px;
}
.section-header .container .header-menu .two .two_3 img{
    margin-right: 5px;
}
/*Второй блок*/
.section-header .block_2 {
    display: flex;
    justify-content: center;
}

.section-header .block_2 .foto_2 {
    background-image: url(../img/1.jpg);
    width: 1170px;
    height: 600px;
    margin-top:  50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.section-header .block_2 .foto_2 .info_2 {
    margin-left: 85px;
}
.section-header .block_2 .foto_2 .info_2 .info_2_1{
    margin-top: 15px;
    font-size:  15px;
}


.section-header .block_2 .info_2 h1 {
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    margin-top: 200px;
    font-size: 55px;
}

.section-header .block_2 .info_2 p {
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin-top: 15px;
    font-size: 19px;
}

.section-header .block_2 .foto_2 button_2_2 .item a {
    background: linear-gradient(rgba(255,255,255,.75));
    text-decoration: none;
    color: white;
}
.section-header .block_2 .foto_2 .info_2 .info_2_1 p1{
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff; 
    font-weight: 900;   
}
.section-header .block_2 .foto_2 .info_2 .info_2_1 p2{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    margin-left: 10px;
}
.section-header .block_2 .foto_2 .info_2 .info_2_1 p3{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    margin-left: 10px;  
}
.section-header .block_2 .foto_2 .info_2 .info_2_1 p4{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    margin-left: 10px;   
}
.section-header .block_2 .foto_2 .info_2 .info_2_1 p5{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    border: 1px solid #707070;
    margin-left: 10px;   
}
.section-header .block_2 .info_2 .obs{
    display: flex;
    margin-top: 35px;
}

.section-header .block_2 .info_2 .obs .info_4_1{
    display: flex;
}
.section-header .block_2 .info_2 .obs .info_4_2 p1{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
}
.section-header .block_2 .info_2 .obs .info_4_1 p2{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
    margin-top: 14px;
    margin-left: 10px;
}
.section-header .block_2 .info_2 .obs .info_4_1{
    display: flex;
    background: linear-gradient( 90deg,blue,rgb(31, 128, 255), rgb(0, 158, 250));
    width: 210px;
    height: 50px;
    border-radius: 5px;
}
.section-header .block_2 .info_2 .obs .info_4_1 img{
    width: 10px;
    margin-left: 15px;
}
.section-header .block_2 .info_2 .obs .info_4_2 img{
    width: 20px;
    margin-left: 10px;
}
.section-header .block_2 .foto_2 .info_2 .obs .info_4_2 p1{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
    margin-top: 14px;
    margin-left: 10px;
}
.section-header .block_2 .foto_2 .info_2 .obs .info_4_2{
    display: flex;
    background: linear-gradient( 90deg,#02041d, #060931, #0a124b);
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin-left:  20px;
}
.section-header .block_2 .foto_2 .info_2 .obs .info_4_3{
    display: flex;
    background: linear-gradient( 90deg,#02041d, #060931, #0a124b);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left:  20px;
}
.section-header .block_2 .info_2 .obs .info_4_3 img{
    width: 15px;
    margin-left: 17px;
}
/*Третий блок*/
.section-how{ 
    margin-top: 150px; 
} 
.section-how .title{ 

    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
    font-size: 42px; 
    font-weight: 800; 
} 
.section-how .info{ 
    display: flex; 
    justify-content: space-between; 
    margin-right: 100px;
} 
.section-how .item{ 
    width: 260px; 
    margin-top: 80px; 
} 
.section-how .item h2{ 
    font-size: 20px; 
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none; 
    margin-top: 20px; 
    font-weight: 800; 
} 
.section-how .item p{ 
    font-size: 17px; 
    line-height: 24px; 
    color: #707070; 
    margin-top: 5px; 
    font-weight: 600; 
    font-family: 'Golos';
}
.section-how .container .info .item img{
    border-radius: 10px;
}
/*Четвертый блок*/
.section-film{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.section-film .info_4 h1 {
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 55px;
    margin-top: 30px;
}
.section-film .info_4 .info_2_1 p1{
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff; 
    font-weight: 900;   
}
.section-film .info_4 .info_2_1 p2{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    margin-left: 10px;
}
.section-film .info_4 .info_2_1 p3{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    margin-left: 10px;  
}
.section-film .info_4 .info_2_1 p4{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    margin-left: 10px;   
}
.section-film .info_4 .info_2_1 p5{
    font-family: 'Golos';
    text-decoration: none;
    color: #707070; 
    font-weight: 600;
    border: 1px solid #707070;
    margin-left: 10px;   
}
.section-film .info_4 p{
    font-family: 'Golos';
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin-top: 15px;
    font-size: 19px;
} 

.section-film .info_4 .obs{
    display: flex;
    margin-top: 35px;
}

.section-film  .info_4 .obs .info_4_1{
    display: flex;
}
.section-film  .info_2 .obs .info_4_2 p1{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
}
.section-film  .info_4 .obs .info_4_1 p2{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
    margin-top: 14px;
    margin-left: 10px;
}
.section-film  .info_4 .obs .info_4_1{
    display: flex;
    background: linear-gradient( 90deg,blue,rgb(31, 128, 255), rgb(0, 158, 250));
    width: 210px;
    height: 50px;
    border-radius: 5px;
}
.section-film  .info_4 .obs .info_4_1 img{
    width: 10px;
    margin-left: 15px;
}
.section-film  .info_4 .obs .info_4_2 img{
    width: 20px;
    margin-left: 10px;
}
.section-film  .info_4 .obs .info_4_2 p1{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
    margin-top: 14px;
    margin-left: 10px;
}
.section-film  .info_4 .obs .info_4_2{
    display: flex;
    background: linear-gradient( 90deg,#02041d, #060931, #0a124b);
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin-left:  20px;
}
.section-film .info_4 .obs .info_4_3{
    display: flex;
    background: linear-gradient( 90deg,#02041d, #060931, #0a124b);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left:  20px;
}
.section-film .info_4 .obs .info_4_3 img{
    width: 15px;
    margin-left: 17px;
}
.section-film  img{
    border-radius: 10px;
}
.section-film .info_4 .info_2_1{
    margin-top: 10px;
}
.section-film  .info_4 p0{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
    margin-top: 14px;
    margin-left: 10px;
    display: flex;
    background: linear-gradient( 90deg, #ff512f, #f0961a);
    width: 195px;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.section-film .info_4{
    margin-right: 50px;
}
/*Третий блок*/
.block_3{ 
    margin-top: 40px; 
    background-image: url(../img/6.jpg); 
    border-radius: 10px; 
    height: 500px; 
    flex-direction: column; 
    display: flex; 
    padding-left: 40px; 
    justify-content: center; 
    width: 1170px; 
}
.block_3 h2{ 
    color: #ffffff;
    font-family: 'Golos';
    margin-top: 30px; 
    font-weight: 700; 
    font-size: 65px; 
    width: 50px; 
} 
.block_3 p{ 
    color: #ffffff;
    font-family: 'Golos';
    margin-top: 23px; 
    font-weight: 400; 
    font-size: 18px; 
    width: 450px; 
} 
.block_3 .button{ 
    color: #ffffff;
    font-family: 'Golos';
    margin-top: 30px; 
    border-radius: 10px; 
    width: 300px; 
    height: 60px; 
    font-size: 17px; 
    justify-content: center; 
    align-items: center; 
    display: flex; 
    background: linear-gradient(90deg, #0052d5, #6fb0fc); 
}
.block_3 .button a{
    color: #ffffff;
    font-family: 'Golos';
    text-decoration: none;
}
/*Пятый блок*/
.block_5{ 
    margin-top: 100px; 
    display: flex; 
    justify-content: center;
} 
.info_5_1{ 
    display: flex; 
    width: 300px; 
    justify-content: space-between; 
    align-items: center; 
} 
.info_5 .info_5_1 h3.n{ 
    font-weight: 700; 
    border-bottom: 2px solid #6fb1fc; 
    font-size: 15px; 
    color: #ffffff;
    font-family: 'Golos';
} 
.info_5 .info_5_1 h3.gray{ 
    border: 0; 
    color: #565656; 
    font-family: 'Golos';
} 
.info_5 p{ 
    width: 395px; 
    margin-top: 20px; 
    font-size: 15px; 
    font-weight: 400; 
    color: #ffffff;
    font-family: 'Golos';
} 
.foto_5{ 
    width: 800px; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    display: flex; 
    margin-left: 50px; 
} 
.foto_5 img{ 
    border-radius: 10px; 
    width: 49%; 
    height: 49%; 
} 
.foto_5 .niz{ 
    margin-top: 10px; 
}